.git_list {
    display: inline-block;
    width: 715px;
    height: 115px;
    overflow: visible;
}

.git_list text.caption {
    font-size: 10px;
    fill: #666;
}

.git_list text.caption_month {
    font-size: 8px;
    fill: #BBB;
}

.git_list text.caption_day {
    font-size: 8px;
    fill: #BBB;
}

.svg-tip:after {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    height: 5px;
    width: 5px;
    bottom: -10px;
    margin: 0px 0px 0px -5px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.svg-tip {
    padding: 5px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
    color: #BBB;
    font-size: 12px;
    position: absolute;
    z-index: 99999;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    opacity: 0;
}

body {
    background-color: white;
    margin: 40px 0 0;
}

.extGitGraphContainer {
    background-color: #ECF0F1;
    margin: 10px;
    display: inline-block;

    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0px 0 1px rgba(0, 0, 0, 0.25) inset;
}

.egg_footer {
    margin-top: 5px;

    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;

    color: #FFF;
    text-shadow: 0px 0px 8px #2C3E50, 0px 0px 8px #2C3E50;
}

.egg_footer > a {

    text-decoration: none;
    color: inherit;
}

.egg_footer > a:hover {
    text-decoration: none;
    color: #2C3E50;
    text-shadow: 0px 0px 8px #00F;
}