
$CFG_EGG_THEME: 'blue';

// ------------------------------------

$FONT_HEADER:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$FONT_CODE:    Consolas, Monaco, "Courier New", Menlo, monospace;
$FONT_DEFAULT: 'Times New Roman', serif;

// ------------------------------------

$COL_TRANSPARENT:       #FFFFFF00;

// ------------------------------------

$LAYER0_BG:          #EEEEEE;
$LAYER0_FG:          #333333;
$LAYER0_FG_LIGHTER:  #888888;

$LAYER1_BG:               #E0E0E0;
$LAYER1_BG_DARKER:        #BBBBBB;
$LAYER1_FG:               #333333;
$LAYER1_FG_LIGHT:         #555555;
$LAYER1_HEADER_BG:        #BBBBBB;
$LAYER1_HEADER_BG_DARKER: #999999;
$LAYER1_HEADER_FG:        #222222;
$LAYER1_BORDER:           1px solid #444444;

$LAYER2_CODE_BG:          #F8F8F8;
$LAYER2_CODE_FG:          #000000;
$LAYER2_CODE_BORDER:      1px solid rgba(0, 0, 0, 0.15);

$LAYER2_QUOTE_BORDERLEFT: 5px solid #CCCCCC;

$LAYER2_TXTBLOCK_BG:      #EEEEEE;
$LAYER2_TXTBLOCK_FG:      #333333;
$LAYER2_TXTBLOCK_BORDER:  1px solid rgba(0, 0, 0, 0.15);

$LAYER2_BG:           #AAAAAA;
$LAYER2_FG:           #222222;
$LAYER2_FG_LINKHOVER: #333399;
$LAYER2_FG_LIGHT:     #444444;
$LAYER2_HEADER_BG:    #888888;
$LAYER2_HEADER_FG:    #000000;
$LAYER2_BORDER:       1px solid #333333;

$LAYER2_TABLE_BORDER_OUTER:    1px solid #666666;
$LAYER2_TABLE_TH_BG:           #7D7D7D;
$LAYER2_TABLE_TH_FG:           #FFFFFF;
$LAYER2_TABLE_BORDER_INNER_TH: #444444;
$LAYER2_TABLE_BORDER_INNER_TD: #666666;
$LAYER2_TABLE_BACKGROUND_ODD:  #CCCCCC;
$LAYER2_TABLE_BACKGROUND_EVEN: #E0E0E0;
$LAYER2_TABLE_ROW_HOVER:       #999999;

// ------------------------------------

$COL_RADIAL_UNDERLINE_START: #CCCCCCFF;
$COL_RADIAL_UNDERLINE_END:   #FFFFFF00;

// ------------------------------------

$COL_COMPLEXHOVER_BG:   #FFFFFF;
$COL_COMPLEXHOVER_FG:   #000000;
$COL_COMPLEXHOVER_BRD:  #000000;

// ------------------------------------

$COL_BUTTON_DOWNLOAD_PRIMARY:        #442222;
$COL_BUTTON_DOWNLOAD_GITHUB:         #4078C0;
$COL_BUTTON_DOWNLOAD_DARK_BG:        #222222;
$COL_BUTTON_DOWNLOAD_DARK_FG:        #CCCCCC;
$COL_BUTTON_DOWNLOAD_DARK_HOVER_BG:  #555555;
$COL_BUTTON_DOWNLOAD_DARK_HOVER_FG:  #222222;
$COL_BUTTON_DOWNLOAD_LIGHT_BG:       #888888;
$COL_BUTTON_DOWNLOAD_LIGHT_FG:       #222222;
$COL_BUTTON_DOWNLOAD_LIGHT_HOVER_BG: #555555;
$COL_BUTTON_DOWNLOAD_LIGHT_HOVER_FG: #CCCCCC;

$COL_BUTTON_GENERIC_FG:    #DDDDDD;
$COL_BUTTON_GENERIC_BG:    #222222;
$COL_BUTTON_GENERIC_HOVER: #555555;

$COL_BUTTON_CAROUSEL_FG:       #DDDDDD;
$COL_BUTTON_CAROUSEL_BG:       #333333;
$COL_BUTTON_CAROUSEL_FG_HOVER: #FFFFFF;
$COL_BUTTON_CAROUSEL_BG_HOVER: #000000;

$BUTTON_PAGINATION_FG:               #000000;
$BUTTON_PAGINATION_BG:               #AAAAAA;
$BUTTON_PAGINATION_BORDER:           1px solid #777777;
$BUTTON_PAGINATION_HIGHLIGHT_FG:     #000000;
$BUTTON_PAGINATION_HIGHLIGHT_BG:     #666666;
$BUTTON_PAGINATION_HIGHLIGHT_BORDER: 1px solid #000000;
$BUTTON_PAGINATION_DISABLED_FG:      #888888;
$BUTTON_PAGINATION_DISABLED_BG:      #BBBBBB;
$BUTTON_PAGINATION_DISABLED_BORDER:  1px solid #777777;
$BUTTON_PAGINATION_HOVER_BORDER:     1px solid #000000;

// ------------------------------------

$COL_HEADER_BG:           #333;
$COL_HEADER_BTN_BG:       #222;
$COL_HEADER_HOVER:        #555;
$COL_HEADER_FG:           #CCC;
$COL_HEADER_HOVER:        #555;
$COL_HEADER_HIGHLIGHT:    #442222;
$COL_HEADER_GITHUB:       #4078C0;
$COL_HEADER_GITHUB_HOVER: #C9510C;
$COL_HEADER_LOGOUT:       #AA0000;
$COL_HEADER_LOGOUT_HOVER: #C9510C;
$COL_HEADER_ADMIN:        #222244;

$COL_FOOTER_FG:           #CCCCCC;

// ------------------------------------

$COL_TOAST_ERROR_FG:     #222222;
$COL_TOAST_ERROR_BG:     #FF4444;
$COL_TOAST_ERROR_BORDER: 1px solid #AA4444;

// ------------------------------------

$COL_EULER_TIME_0_SAT:    #00AA00;
$COL_EULER_TIME_1_SAT:    #84FF0A;
$COL_EULER_TIME_2_SAT:    #FFFF00;
$COL_EULER_TIME_3_SAT:    #FF6600;
$COL_EULER_TIME_4_SAT:    #FF1111;

$COL_EULER_TIME_0_LIT:    #98C398;
$COL_EULER_TIME_1_LIT:    #B9D89B;
$COL_EULER_TIME_2_LIT:    #D8D898;
$COL_EULER_TIME_3_LIT:    #D8B298;
$COL_EULER_TIME_4_LIT:    #D89D9D;

$COL_EULER_TIME_NONE_LIT: #CCCCCC;

// ------------------------------------

$AOC_FIELD_GREEN:       #2D4E3B;
$AOC_FIELD_GREEN_ALT:   #165B00;
$AOC_FIELD_RED:         #BB2528;
$AOC_FIELD_DISABLED_BG: #444444;
$AOC_FIELD_DISABLED_FG: #888888;

$AOC_DESCRIPTION_FG: #DDDDDD;
$AOC_DESCRIPTION_BG: #333333;


// ------------------------------------

$COL_ADMIN_OK:    #00FF00;
$COL_ADMIN_WARN:  #FFFF00;
$COL_ADMIN_ERROR: #FF0000;

$COL_ADMIN_STATUS_FG:     #222222;
$COL_ADMIN_STATUS_BORDER: 1px solid #888;

$COL_ADMIN_STATUS_DB_ERROR:     #BB2222;


// ------------------------------------ ------------------------------------


// [0] ResponsiveDesign Minimal Mobile
//     content_width = auto
//     header        = vertical
$RD_0_MINIMOBILE_MIN:   0px; /* 400px */
$RD_0_MINIMOBILE_MAX: 767px;

// [1] ResponsiveDesign Normal Mobile
//     content_width = auto
//     header        = vertical
$RD_1_NORMMOBILE_MIN: 768px;
$RD_1_NORMMOBILE_MAX: 850px;

// [2] ResponsiveDesign Small Desktop
//     content_width = auto
//     header        = vertical
$RD_2_SMALLDESKTOP_MIN: 851px;
$RD_2_SMALLDESKTOP_MAX: 991px;

// [3] ResponsiveDesign Medium Desktop
//     content_width = auto
//     header        = vertical
$RD_3_MEDDESKTOP_MIN: 992px;
$RD_3_MEDDESKTOP_MAX: 1199px;

// [4] ResponsiveDesign Large Desktop
//     content_width = auto
//     header        = vertical
$RD_4_LARGEDESKTOP_MIN: 1200px;
$RD_4_LARGEDESKTOP_MAX: 99999px;


// ------------------------------------ ------------------------------------


@function rdmedia_expr($min, $max) {

  $w1: "";
  $w2: "";

  @if ($min == 0) { $w1: $RD_0_MINIMOBILE_MIN;   }
  @if ($min == 1) { $w1: $RD_1_NORMMOBILE_MIN;   }
  @if ($min == 2) { $w1: $RD_2_SMALLDESKTOP_MIN; }
  @if ($min == 3) { $w1: $RD_3_MEDDESKTOP_MIN;   }
  @if ($min == 4) { $w1: $RD_4_LARGEDESKTOP_MIN; }

  @if ($max == 0) { $w2: $RD_0_MINIMOBILE_MAX;   }
  @if ($max == 1) { $w2: $RD_1_NORMMOBILE_MAX;   }
  @if ($max == 2) { $w2: $RD_2_SMALLDESKTOP_MAX; }
  @if ($max == 3) { $w2: $RD_3_MEDDESKTOP_MAX;   }
  @if ($max == 4) { $w2: $RD_4_LARGEDESKTOP_MAX; }

  @if (($min == 0) and ($max == 4)) { @return "(all)"; }
  @if ($min == 0 ) { @return "(max-width:"+$w2+")"; }
  @if ($max == 4 ) { @return "(min-width:"+$w1+")"; }

  @return "(min-width:"+$w1+") and (max-width:"+$w2+")";
}

@mixin rdmedia_range($min, $max) {
  @media #{rdmedia_expr($min, $max)}
  {

    @content;

  }
}

@mixin rdmedia($lvl) {
  @media #{rdmedia_expr($lvl, $lvl)}
  {

    @content;

  }
}