@import 'styles_config';

body {
  background-color: $COL_BACKGROUND;
  color: $COL_TEXT_NORMAL;
  font-family: $FONT_DEFAULT;
}

#content {
  padding-top: 64px;
  display: flex;
  justify-content: center;

  line-height: 1.4;

  flex-direction: column;
  align-items: center;
}

.content-responsive {
  margin-left: auto;
  margin-right: auto;
}

@include rdmedia(0) { .content-responsive { width: 95%; width:calc(100% - 20px); margin-left: auto; margin-right: auto; } }
@include rdmedia(1) { .content-responsive { width: 95%; width:calc(100% - 20px); margin-left: auto; margin-right: auto; } }
@include rdmedia(2) { .content-responsive { width: 95%; width:calc(100% - 20px); margin-left: auto; margin-right: auto; } }
@include rdmedia(3) { .content-responsive { width: 724px;  } }
@include rdmedia(4) { .content-responsive { width: 1170px; } }

.content-fullheight { flex-grow: 1;}

.contentheader {
  width: 100%;
  color: $COL_TEXT_DARK;
  font-size: large;
}

.contentheader h1 {

  font-family: $FONT_HEADER;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 0;

}

@include rdmedia(0) { .contentheader h1 { font-size: 32px; } }

.contentheader hr {
  margin: 0 0 25px 0;

  display:block;
  border:none;
  color:white;
  height:1px;
  background: #CCCCCCFF;
  background: -moz-linear-gradient(   left, $COL_TEXT_NORMAL,   $COL_TRANSPARENT);
  background: -webkit-linear-gradient(left, $COL_TEXT_NORMAL 0%,$COL_TRANSPARENT 100%);
}

@include rdmedia_range(0,2)  {
  .contentheader h1 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .contentheader hr {
    background: -moz-radial-gradient(   circle, $COL_TEXT_NORMAL,   $COL_TRANSPARENT);
    background: -webkit-radial-gradient(circle, $COL_TEXT_NORMAL 0%,$COL_TRANSPARENT 100%);
  }
}

.blockcontent {
  display: block;
  width: 100%;
}

.generic_hidden    {
  visibility: hidden !important;
}

.generic_collapsed {
  visibility: collapse !important;
  display: none !important;
  width:0 !important;
  height:0 !important;
}

.boxedcontent {
  color: $COL_TEXT_DARK;
  border: 1px solid black;
  background-color: $COL_BACKGROUND_2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .bc_header {
    background-color: #BBB;
    padding: 0 4px;
  }

  .bc_data {
    padding: 8px;
  }
}

.button {

  color: #DDD;
  text-decoration: none;
  background-color: #222;
  font-size: 1rem;
  border: 1px solid black;
  height: 36px;
  line-height: 36px;
  padding: 2px 2rem;
}

.button:hover {
  background-color: #555;
}

.iconbutton {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #222;
  color: $COL_TEXT_NORMAL;
  text-decoration: none;
  border: 1px solid #000;

  margin: 5px 0;
}

.iconbutton:hover {
  cursor: pointer;
  background-color: #555;
}

.iconbutton svg {
  width: 14pt;
  height: 14pt;
  margin: 0 4px;

  fill: $COL_TEXT_NORMAL;
}

.iconbutton span {
  flex-grow: 1;
  text-align: center;

  font-size: 14pt;
}