@import 'styles_config';

.admincontent {
  display: block;
  width: 100%;
}

.admincontent .boxedcontent{
  margin-bottom: 20px;
}

.egg_ajaxOutput {
  display: flex;
  box-sizing: border-box;

  width: 100%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  height: 300px;
}

.keyvaluelist {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    span {align-self: center;}
    span:first-child {
      font-weight: bold;
      min-width: 500px;
      align-self: start;
    }
  }
}

.kvl_100 div span:first-child { min-width: 100px; }
.kvl_200 div span:first-child { min-width: 200px; }
.kvl_300 div span:first-child { min-width: 300px; }

.selftest_parent {
  width: 800px;
  max-width: 100%;
}

.selftest_outputchild {
  border: $COL_ADMIN_STATUS_BORDER;
  background: $LAYER2_CODE_BG;
  color: $LAYER2_CODE_FG;
  font-family: $FONT_CODE;
  white-space: pre;
  max-height: 600px;
  overflow-x: auto;
  overflow-y: auto;
}

.consistency_result_fin {
  cursor: pointer;
}

.consistency_result {
  color: $COL_ADMIN_STATUS_FG;
  border: $COL_ADMIN_STATUS_BORDER;
  padding: 0 5px;
  margin: 1px 0;
  flex-grow: 1;
}

.consistency_result:after { content: '\00a0' }

.consistency_result_ok       { background: $COL_ADMIN_OK; }
.consistency_result_warn     { background: $COL_ADMIN_WARN; }
.consistency_result_err      { background: $COL_ADMIN_ERROR; }
.consistency_result_intermed { background: $COL_ADMIN_INTERMED; }
.consistency_result_running  { background: $COL_ADMIN_RUNNING; border: $COL_ADMIN_STATUS_BORDER_ACTIVE; }


.admincontent .boxedcontent hr {
  width: 95%;
  height: 1px;
  border: none;
  color: $COL_TRANSPARENT;
  background: -moz-radial-gradient(   circle, rgba(0, 0, 0, 0.1),   rgba(0, 0, 0, 0.0));
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%,rgba(0, 0, 0, 0.0) 100%);
}

.admindberr { color: $COL_ADMIN_STATUS_DB_ERROR; }

.boxedcontent.alertbox {
  background-color: $COL_TOAST_ERROR_BG;
  color:            $COL_TOAST_ERROR_FG;
  border:           $COL_TOAST_ERROR_BORDER;
  font-weight: bold;
  text-align: center;
  .bc_data {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.boxedcontent.warnbox {
  background-color: $COL_TOAST_WARN_BG;
  color:            $COL_TOAST_WARN_FG;
  border:           $COL_TOAST_WARN_BORDER;
  font-weight: bold;
  text-align: center;
  .bc_data {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.boxedcontent.graybox {
  background-color: $COL_TOAST_GRAY_BG;
  color:            $COL_TOAST_GRAY_FG;
  border:           $COL_TOAST_GRAY_BORDER;
  font-weight: bold;
  text-align: center;
  .bc_data {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.boxedcontent.successbox {
  background-color: $COL_TOAST_SUCCESS_BG;
  color:            $COL_TOAST_SUCCESS_FG;
  border:           $COL_TOAST_SUCCESS_BORDER;
  font-weight: bold;
  text-align: center;
  .bc_data {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
