@import 'styles_config';


.bloglistelem_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bloglistelem {
  width: 100%;

  border: $LAYER1_BORDER;
  margin: 10px 5px;
  color: $LAYER1_FG;
  text-decoration: none;
}

.ble_blog { background-color: $LAYER1_BG_DARKER; }
.ble_log  { background-color: $LAYER1_BG; }

.ble_blog .ble_date { background-color: $LAYER1_HEADER_BG_DARKER; color: $LAYER1_HEADER_FG; }
.ble_log  .ble_date { background-color: $LAYER1_HEADER_BG;        color: $LAYER1_HEADER_FG; }

.ble_blog           { color: $LAYER1_FG; }
.ble_log            { color: $LAYER1_FG_LIGHT; }

.bloglistelem:hover       { border: solid 1px $COL_COMPLEXHOVER_BRD; }
.ble_blog:hover           { background-color: $COL_COMPLEXHOVER_BG; color: $COL_COMPLEXHOVER_FG; }
.ble_log:hover            { background-color: $COL_COMPLEXHOVER_BG; color: $COL_COMPLEXHOVER_FG; }
.ble_blog:hover .ble_date { background-color: $COL_COMPLEXHOVER_BG; color: $COL_COMPLEXHOVER_FG; border-bottom: 1px solid $COL_COMPLEXHOVER_BRD; }
.ble_log:hover  .ble_date { background-color: $COL_COMPLEXHOVER_BG; color: $COL_COMPLEXHOVER_FG; border-bottom: 1px solid $COL_COMPLEXHOVER_BRD; }

.ble_date {
  border-bottom: 1px solid transparent;
  padding: 2px;
  font-size: 0.8em;
  font-style: italic;
}

.ble_title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  margin: 2px 0 2px 10px;
}

@include rdmedia(0) { .ble_title { font-size: 1.25em; } }

