$COL_BACKGROUND:        #EEE;
$COL_BACKGROUND_2:      #E0E0E0;
$COL_BACKGROUND_3:      #F8F8F8;
$COL_TEXT_NORMAL:       #CCC;
$COL_TEXT_DARK_DARKER:  #222;
$COL_TEXT_DARK:         #333;
$COL_TEXT_DARK_LIGHTER: #555;
$COL_TRANSPARENT:       #FFFFFF00;

$COL_GITHUB:            #4078C0;
$COL_HIGHLIGHT_RED:     #442222;

$FONT_HEADER: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$FONT_CODE: Consolas, Monaco, "Courier New", Menlo, monospace;
$FONT_DEFAULT: serif;