@import 'styles_config';

.bookv_content {
  display: flex;
  flex-direction: column;

  color: $LAYER1_FG;
  border: $LAYER1_BORDER;
  background-color: $LAYER1_BG;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#bookv_header h1 {
  font-size: 48pt;
  text-align: center;
  margin-top: 5px;
}

#bookv_header hr {
  background: -moz-radial-gradient(   circle, $COL_RADIAL_UNDERLINE_START,   $COL_RADIAL_UNDERLINE_END);
  background: -webkit-radial-gradient(circle, $COL_RADIAL_UNDERLINE_START 0%,$COL_RADIAL_UNDERLINE_END 100%);
}

.bookv_top {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding-bottom: 10px;
}

.bookv_left {
  display: inline-flex;
  justify-content: center;

  flex-grow: 1;
  margin-left: 10px;

  margin-top: auto;
  margin-bottom: auto;
}

.bookv_left img {
  height: 100%;
  width: 100%;
  object-fit: contain
}

.bookv_right {
  background: $LAYER2_BG;
  border: $LAYER2_BORDER;
  margin: 0 10px;
  padding: 8px 5px 2px 5px;

  min-height: 250px;
  min-width:  200px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto auto auto 1fr auto;
  grid-column-gap: 15px;
  grid-row-gap: 2px;
}

.bookv_right_key {
  font-weight: bold;
}

.bookv_right_value a {
  color: $LAYER2_FG;
  text-decoration: none;
}

.bookv_right_value a:hover {
  color: $LAYER2_FG_LINKHOVER;
  text-decoration: none;
}

.bookv_right_comb {
  grid-column: 1 / span 2;
}

.bookv_right_lang {
  display: flex;
  justify-content: flex-end;
}

.bookv_dl_download { background: $COL_BUTTON_DOWNLOAD_PRIMARY; }
.bookv_dl_github   { background: $COL_BUTTON_DOWNLOAD_GITHUB; }

.bookv_right_lang img {
  display: inline;
  height: 16pt;
  max-width: 32px;
  margin: 1px 2px 0 2px;
}

.bookv_extra {
  height: 500px;
  border: $LAYER2_BORDER;
  background: $LAYER2_BG;
  margin: 10px;
}

.bookv_extra img {

}

.bookv_readme {
  margin: 10px;
  padding: 16px;
  background: $LAYER2_TXTBLOCK_BG;
  color: $LAYER2_TXTBLOCK_FG;
  border:$LAYER2_TXTBLOCK_BORDER;
}

@include rdmedia_range(0,2)  {
  .bookv_content { border: none; }
  #bookv_header h1 { font-size: 28pt; }
}

@include rdmedia_range(0,3)  {
  #bookv_header h1 { font-size: 28pt; }
}

@include rdmedia(0)  {

  .bookv_top {
    flex-direction: column;
    margin-top: 0;
  }

  .bookv_left {
    margin: 0 10px 10px 10px;
  }

  .bookv_right {
    min-height: 0;
    min-width:  0;
  }

  .bookv_right_lang {
    justify-content: space-evenly;
  }

  #bookv_header h1 {
    font-size: 18pt;
  }
}