@import 'styles_config';

// ==================== AdventOfCode Blog  Listing ==================== //

.aoc_calendar_parent {
  display: flex;
  justify-content: center;

  margin-top: 1em;
  padding-bottom: 1.5em;
}

.aoc_calendar_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 0.5em;

  background: $LAYER2_HEADER_BG;
}

.aoc_calendar_header_link {
  display: flex;

  color: $LAYER2_HEADER_FG;
  text-decoration: none;
}

.aoc_calendar_header_title {
  flex-grow: 0;
  display: flex;

  color: $LAYER2_HEADER_FG;
  font-family: $FONT_HEADER;
  font-weight: bold;
}

.aoc_calendar_header_title a {
  color: $LAYER2_HEADER_FG;
  font-family: $FONT_HEADER;
  text-decoration: none;
}

.aoc_calendar_header_link.aoc_prev {
  flex-grow: 0;
  padding-left: 0.5em;
}

.aoc_calendar_header_link.aoc_next {
  flex-grow: 0;
  padding-right: 0.5em;
}

.aoc_calendar_header_link.aoc_link_hidden {
  visibility: hidden;
}

.aoc_calendar {
  display: flex;
  flex-direction: column;

  background: $LAYER2_BG;

  font-size: xx-large;
  font-family: $FONT_CODE;

  border: $LAYER2_BORDER;

  padding-bottom: 0.5em;
}

.aoc_calendar_row {
  display: flex;
  flex-direction: row;

  justify-content: center;

  margin-left:  0.5em;
  margin-right: 0.5em;
}

.aoc_calendar_field {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2em;
  height: 2em;

  margin: 4px;

  text-decoration: none;
  font-weight: bold;
}

.aoc_calendar_field.aoc_enabled {
  background: $AOC_FIELD_GREEN;
  color: $AOC_FIELD_RED;
  border: 1px solid #FFFFFF;
  text-shadow: 0 0 0.2em #222222;
  font-weight: bold;
}

.aoc_calendar_field.aoc_enabled:hover {
  background: $AOC_FIELD_GREEN_ALT;
  color: $AOC_FIELD_RED;
  border: 1px solid $AOC_FIELD_RED;
  text-shadow: 0 0 0 #000;
}

.aoc_calendar_field.aoc_disabled {
  background: $AOC_FIELD_DISABLED_BG;
  color: $AOC_FIELD_DISABLED_FG;
  border: 1px solid #888;
  cursor: default;
  font-weight: normal;
}

// ==================== AdventOfCode Blog - Single Day View ==================== //

.bc_aoc_description_parent {
  background-color: $AOC_DESCRIPTION_BG;
  color: $AOC_DESCRIPTION_FG;
}

.bc_aoc_description {
  font-family: $FONT_CODE;
  padding: 1ch;
  max-width: 82ch;
}

.bc_aoc_input {
  font-family: $FONT_CODE;
  border: $LAYER2_BORDER;
  padding: 1em;
  max-height: 150px;
  overflow-y: scroll;
  background: $LAYER2_CODE_BG;
  color:      $LAYER2_CODE_FG;
}

.bc_aoc_solution_parent {
  border: $LAYER2_BORDER;
}

.bc_aoc_solution_code {
  padding: 0;
}

.bc_aoc_solution_code pre {
  margin: 0 !important;
  border: none;
}

.bc_aoc_solution_value {
  background: $LAYER2_HEADER_BG;
  color:      $LAYER2_HEADER_FG;
}