@import 'styles_config';

.base_markdown {

  code {
    font-family: $FONT_CODE;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre {
    font-size: 14px;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: $LAYER2_CODE_BG;
    color: $LAYER2_CODE_FG;
    border: $LAYER2_CODE_BORDER;
    border-radius: 2px;
  }

  blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: $LAYER2_QUOTE_BORDERLEFT;
  }

  img {
    max-width: 100%;
  }

}

.mdtable_container {overflow-x: auto;}

.notable {
  width: unset !important;
  border: none !important;

  th,td,tr {
    border: none !important;
    background: transparent !important;
  }
}

.blogcontent_euler, .blogcontent_markdown, .blogcontent_plain, .blogcontent_aoclist, .blogcontent_html { width: 90%;}
