@import 'styles_config';

.admincontent {
  display: block;
  width: 100%;
}

.admincontent .boxedcontent{
  margin-bottom: 20px;
}

.egh_ajaxOutput {
  display: flex;
  box-sizing: border-box;

  width: 100%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  height: 300px;
}

.keyvaluelist {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    span {align-self: center;}
    span:first-child {
      font-weight: bold;
      min-width: 500px;
    }

    span:last-child {

    }

  }
}

.kvl_100 div span:first-child { min-width: 100px; }
.kvl_200 div span:first-child { min-width: 200px; }
.kvl_300 div span:first-child { min-width: 300px; }

.consistency_result_ok, .consistency_result_warn, .consistency_result_err {
  min-width: 400px;
  border: 1px solid #888;
  padding: 0 5px;
  margin: 1px 0;
}
.consistency_result_ok   { background: #0F0; }
.consistency_result_warn { background: #FF0; }
.consistency_result_err  { background: #F00; }