@import 'styles_config';

body {
  background-color: $LAYER0_BG;
  color: $LAYER0_FG;
  font-family: $FONT_DEFAULT;
}

#content {
  padding-top: 64px;
  display: flex;
  justify-content: center;

  line-height: 1.4;

  flex-direction: column;
  align-items: center;
}

.content-responsive {
  margin-left: auto;
  margin-right: auto;
}

@include rdmedia(0) { .content-responsive { width: 95%; width:calc(100% - 20px); margin-left: auto; margin-right: auto; } }
@include rdmedia(1) { .content-responsive { width: 95%; width:calc(100% - 20px); margin-left: auto; margin-right: auto; } }
@include rdmedia(2) { .content-responsive { width: 95%; width:calc(100% - 20px); margin-left: auto; margin-right: auto; } }
@include rdmedia(3) { .content-responsive { width: 724px;  } }
@include rdmedia(4) { .content-responsive { width: 1170px; } }

.content-fullheight { flex-grow: 1;}

.contentheader {
  width: 100%;
  color: $LAYER0_FG;
  font-size: large;
}

.contentheader h1 {
  font-family: $FONT_HEADER;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 0;
}

@include rdmedia(0) { .contentheader h1 { font-size: 32px; } }

.contentheader hr {
  margin: 0 0 25px 0;

  display: block;
  border: none;
  color: white;
  height: 1px;
  background-color: $COL_RADIAL_UNDERLINE_START;
  background: -moz-linear-gradient(   left, $COL_RADIAL_UNDERLINE_START,   $COL_RADIAL_UNDERLINE_END);
  background: -webkit-linear-gradient(left, $COL_RADIAL_UNDERLINE_START 0%,$COL_RADIAL_UNDERLINE_END 100%);
}

@include rdmedia_range(0,2)  {
  .contentheader h1 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .contentheader hr {
    background: -moz-radial-gradient(   circle, $COL_RADIAL_UNDERLINE_START,   $COL_RADIAL_UNDERLINE_END);
    background: -webkit-radial-gradient(circle, $COL_RADIAL_UNDERLINE_START 0%,$COL_RADIAL_UNDERLINE_END 100%);
  }
}

.blockcontent {
  display: block;
  width: 100%;
}

.generic_hidden    {
  visibility: hidden !important;
}

.generic_collapsed {
  visibility: collapse !important;
  display: none !important;
  width:0 !important;
  height:0 !important;
}

.boxedcontent {
  color: $LAYER1_FG;
  border: $LAYER1_BORDER;
  background: $LAYER1_BG;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .bc_header {
    background-color: $LAYER1_HEADER_BG;
    color: $LAYER1_HEADER_FG;
    padding: 0 4px;
  }

  .bc_data {
    padding: 8px;
  }
}

.button {

  color: $COL_BUTTON_GENERIC_FG;
  text-decoration: none;
  background-color: $COL_BUTTON_GENERIC_BG;
  font-size: 1rem;
  border: 1px solid black;
  height: 36px;
  line-height: 36px;
  padding: 2px 2rem;
}

.button:hover {
  background-color: $COL_BUTTON_GENERIC_HOVER;
}

.iconbutton {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $COL_BUTTON_DOWNLOAD_DARK_BG;
  color: $COL_BUTTON_DOWNLOAD_DARK_FG;
  text-decoration: none;
  border: 1px solid #000;

  margin: 5px 0;

  &:hover {
    cursor: pointer;
    background-color: $COL_BUTTON_DOWNLOAD_DARK_HOVER_BG;
    color: $COL_BUTTON_DOWNLOAD_DARK_HOVER_FG;
  }
  svg {
    width: 14pt;
    height: 14pt;
    margin: 0 4px;

    fill: $COL_BUTTON_DOWNLOAD_DARK_FG;
  }
  span {
    flex-grow: 1;
    text-align: center;

    font-size: 14pt;
  }

}

.iconbutton_light {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $COL_BUTTON_DOWNLOAD_LIGHT_BG;
  color: $COL_BUTTON_DOWNLOAD_LIGHT_FG;
  text-decoration: none;
  border: 1px solid #000;

  margin: 5px 0;

  &:hover {
    cursor: pointer;
    background-color: $COL_BUTTON_DOWNLOAD_LIGHT_HOVER_BG;
    color:$COL_BUTTON_DOWNLOAD_LIGHT_HOVER_FG;
  }
  svg {
    width: 14pt;
    height: 14pt;
    margin: 0 4px;

    fill: $COL_BUTTON_DOWNLOAD_LIGHT_FG;
  }
  span {
    flex-grow: 1;
    text-align: center;

    font-size: 14pt;
  }
}

.stripedtable_container {
  overflow-x: auto;
}

.stripedtable
{
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: $LAYER2_TABLE_BORDER_OUTER;

  td, th {
    padding: 3px 10px;
  }

  thead th {
    background-color: $LAYER2_TABLE_TH_BG;
    color: $LAYER2_TABLE_TH_FG;
    font-weight: bold;
    border-left: 1px solid $LAYER2_TABLE_BORDER_INNER_TH;
  }

  thead th:first-child {
    border: none;
  }

  tbody td {
    border-left: 1px solid $LAYER2_TABLE_BORDER_INNER_TD;
    font-weight: normal;
  }

  tbody td:first-child {
    border-left: none;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  tbody tr:nth-child(odd)  { background-color: $LAYER2_TABLE_BACKGROUND_ODD; }
  tbody tr:nth-child(even) { background-color: $LAYER2_TABLE_BACKGROUND_EVEN; }
}

.imgcarousel_parent {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  padding: 5px;
}

.imgcarousel_content {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display:flex;
}

.imgcarousel_content video {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 100%;
  align-self: center;
}

.imgcarousel_prev, .imgcarousel_next
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgcarousel_prev
{
  margin-right: 5px;
}

.imgcarousel_next
{
  margin-left: 5px;
}

.imgcarousel_next, .imgcarousel_prev
{
  outline: none;
}

.imgcarousel_prev svg { width: 48px; height: 48px; border: 1px solid black; background: $COL_BUTTON_CAROUSEL_BG; fill: $COL_BUTTON_CAROUSEL_FG; }
.imgcarousel_next svg { width: 48px; height: 48px; border: 1px solid black; background: $COL_BUTTON_CAROUSEL_BG; fill: $COL_BUTTON_CAROUSEL_FG; }
.imgcarousel_prev:hover svg { background: $COL_BUTTON_CAROUSEL_BG_HOVER; fill: $COL_BUTTON_CAROUSEL_FG_HOVER; cursor: pointer; }
.imgcarousel_next:hover svg { background: $COL_BUTTON_CAROUSEL_BG_HOVER; fill: $COL_BUTTON_CAROUSEL_FG_HOVER; cursor: pointer; }