@import 'styles_config';

.ev_master {

  align-self: center;

  @media(min-width:850px) {padding-bottom: 80px;}

  .ev_code {
    color: #000;
    text-align: center;
    font-size: 150pt;
    font-weight: 500;
    font-family: $FONT_CODE;
  }

  .ev_msg {
    color: #888;
    text-align: center;
    font-size: 25pt;
  }

  @media(max-width:767px) {
    .ev_code {  font-size: 75pt; }
    .ev_msg { font-size: 15pt; }
  }

}