@import 'styles_config';

.base_markdown {

  code {
    font-family: $FONT_CODE;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre {
    font-size: 14px;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: $COL_BACKGROUND_3;
    color: black;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
  }

  blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #CCC;
  }

  img {
    max-width: 100%;
  }

  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    border: 1px solid #666;

    td, th {
      padding: 3px 10px;
    }

    thead th {
      background-color: #7D7D7D;
      color: #FFFFFF;
      font-weight: bold;
      border-left: 1px solid #444;
    }

    thead th:first-child {
      border: none;
    }

    tbody td {
      border-left: 1px solid #666;
      font-weight: normal;
    }

    tbody .alt td {
      background: #EBEBEB;
    }

    tbody td:first-child {
      border-left: none;
    }

    tbody tr:last-child td {
      border-bottom: none;
    }

    tbody tr:nth-child(odd) {
      background-color: #ccc;
    }
  }
}

.mdtable_container {overflow-x: auto;}

.notable {
  width: unset !important;
  border: none !important;

  th,td,tr {
    border: none !important;
    background: transparent !important;
  }
}

.blogcontent_euler, .blogcontent_markdown, .blogcontent_plain { width: 90%;}
