@import 'styles_config';

#loginform div {
  display: flex;
  flex-direction: column;
}

#loginform div button {
  margin: 10px 0;
  padding: 0;
}

.loginerror {
  display: flex;
  background: $COL_TOAST_ERROR_BG;
  color: $COL_TOAST_ERROR_FG;
  border: $COL_TOAST_ERROR_BORDER;
  border-radius: 2px;
  font-weight: bold;
  padding: 0 5px;
  margin: 5px 0 20px 0;
}