@import 'styles_config';

.blogcontent {
  color: $COL_TEXT_DARK;
  border: 1px solid black;
  background-color: $COL_BACKGROUND_2;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bc_header {
  background-color: #BBB;
  padding: 0 4px;
}

.bc_data {
  padding: 8px;
}

.bc_markdown code {
  font-family: $FONT_CODE;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.bc_markdown pre {
  font-size: 14px;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: $COL_BACKGROUND_3;
  color: black;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.bc_markdown blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #CCC;
}

.mdtable_container {overflow-x: auto;}

.mdtable {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: 1px solid #666;

  td, th {
    padding: 3px 10px;
  }

  thead th {
    background-color: #7D7D7D;
    color: #FFFFFF;
    font-weight: bold;
    border-left: 1px solid #444;
  }

  thead th:first-child {
    border: none;
  }

  tbody td {
    border-left: 1px solid #666;
    font-weight: normal;
  }

  tbody .alt td {
    background: #EBEBEB;
  }

  tbody td:first-child {
    border-left: none;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  tbody tr:nth-child(odd) {
    background-color: #ccc;
  }

}

#PEB_tableProblems {
  .PEB_tablerowProblems {  }
  .PEB_tablerowProblems:hover {  background-color: #888;  }

  .PEB_tablecellProblems {  }

  .PEB_TC_Value { font-family: $FONT_CODE; }

  .PEB_TC_Value:not(:hover) {
    color: transparent;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }

  .PEB_TC_Value:hover {
    color: $COL_TEXT_DARK;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }

  .PEB_TC_Time {
    border-radius: 1px;

    display: inline-block;
    padding: 1px 6px;

    min-width: 60px;
  }

  .PEB_TC_Timelevel_0 { background-color: #0A0 !important; }
  .PEB_TC_Timelevel_1 { background-color: #84FF0A !important; }
  .PEB_TC_Timelevel_2 { background-color: #FF0 !important; }
  .PEB_TC_Timelevel_3 { background-color: #F60 !important; }
  .PEB_TC_Timelevel_4 { background-color: #F11 !important; }

  .PEB_TC_Size { font-family: $FONT_CODE; }

  .PEB_TC_Size_93 {
    float: right;
    font-family: $FONT_DEFAULT;

    border-radius: 1px;
    background-color: #0A0;

    display: inline-block;
    padding: 1px 6px;
  }

  .PEB_TC_Size_98 {
    float: right;
    font-family: $FONT_DEFAULT;

    border-radius: 1px;
    background-color: #FF0;

    display: inline-block;
    padding: 1px 6px;
  }

  a {
    color: #333;
    display: block;
    text-decoration: none;
  }

  .PEB_TC_Title a { text-decoration: underline; }

}

@media(max-width:1199px) {
  #PEB_tableProblems tr td:nth-child(1), #PEB_tableProblems tr th:nth-child(1) { display: none; }
}

@media(max-width:767px) {
  #PEB_tableProblems tr td:nth-child(1), #PEB_tableProblems tr th:nth-child(1) { display: none; }
  #PEB_tableProblems tr td:nth-child(3), #PEB_tableProblems tr th:nth-child(3) { display: none; }
  #PEB_tableProblems tr td:nth-child(4), #PEB_tableProblems tr th:nth-child(4) { display: none; }
}