@import 'styles_config';

.ev_master {

  align-self: center;
  width: 100%;

  @include rdmedia_range(2,4) {padding-bottom: 80px;}

  .ev_code {
    color: $LAYER0_FG;
    text-align: center;
    font-size: 150pt;
    font-weight: 500;
    font-family: $FONT_CODE;
  }

  .ev_msg {
    color: $LAYER0_FG_LIGHTER;
    text-align: center;
    font-size: 25pt;
  }

  .ev_statusmore {
    color: $LAYER1_FG;
    background-color: $LAYER1_BG_DARKER;
    text-align: left;
    padding: 4px;
    font-family: $FONT_CODE;
    font-size: small;

    overflow-x: auto;
    white-space: nowrap;

    width: 100%;
  }

  @include rdmedia(0) {
    .ev_code { font-size: 75pt; }
    .ev_msg  { font-size: 15pt; }
  }

}