.source {
    height: 350px;
    font-family: Courier;
}

#source_1 {
     width:45%;
}

#source_2 {
    width:45%;
    float: right;
}

/********************************************/

#commandpanel {
    text-align: center; 
    background-color: lightgray; 
    
    border-radius: 3px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: gray;
    
    height: 5%;
    
    display: table;
    width: 100%;
    
    padding: 5px 0px;
    margin-bottom: 10px;;
}

#commandpanel  a {
    color: #FFF;
    background-color: #000;
    border-radius: 20px;
    padding: 2px 6px;
    border: 1px solid #000;
}

#commandpanel #a_run {
    background-color: #080;
}

#commandpanel #a_run:hover  {
    text-decoration: none;
    background-color: #666;
}

#commandpanel #a_stop {
    background-color: #F00;
}

#commandpanel #a_stop:hover  {
    text-decoration: none;
    background-color: #666;
}

#commandpanel #a_arena {
    background-color: #F80;
}

#commandpanel #a_arena:hover  {
    text-decoration: none;
    background-color: #666;
}

#commandpanel a:hover {
    text-decoration: none;
    background-color: #666;
}

#commandpanel>div {
    display: table-cell;
    vertical-align: middle;
}

#commandpanel>div>div {
    display: block;
    margin: 0 auto;
}

#run_size {
    width: 40px;
}

#run_speed {
    width: 70px;
}


/********************************************/

.sink {
    height: 15%;
    font-family: Courier;
}

#sink_1 {
     width:45%;
}

#sink_2 {
     width:45%;
    float: right;
}

/********************************************/

.bottomelem {
    height: 200px;;
}

#board {
    width: 45%;
    
    background-color: #FFF;
    border-radius: 6px;
    
    border:1px solid #CCC;
}

#log {
    width: 45%;
    float: right;
    font-family: Courier;
}