/* Footer
-------------------------------------------------- */

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

/* Helper
-------------------------------------------------- */

.cstm-well-light {
    border: 2px solid #caecec;
    background-color: white;
}

.cstm-background-white {
    background-color: white;
}

.cstm-main-navbar {
    margin-bottom: 0px;
}

img.grayscale {
    /* Firefox 10+, Firefox on Android */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* IE6-9 */
    filter: gray;
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-filter: grayscale(100%);
}

/* Header
-------------------------------------------------- */

.brandLogo {
    height: 30px;
    padding: 8px 12px 10px 12px;
}

.navbar .brand {
    padding: 0px;
}

.dropdown-append {
    padding-left: 0px;
}

.dropdown-append .dropdown-toggle {
    padding-left: 0px !important;
}

ul.nav li.dropdown-append:hover > ul.dropdown-menu {
    display: block;
}

/* ThumbnalPreview
-------------------------------------------------- */

.progThumbnailCaption {
    color: #2C3E50;
    text-decoration: none;
}

.progThumbnailCaption:active,
.progThumbnailCaption:visited,
.progThumbnailCaption:link,
.progThumbnailCaption:hover {
    /*color: #2C3E50;*/
    text-decoration: none;
}

.thumbnailParentSpan {
    width: 270px;
}

.thumbnails > .thumbnailParentSpan:last-child {
    margin-right: 0;
    margin-left: 0;
}

.thumbnails > .thumbnailParentSpan:not(:last-child) {
    margin-right: 30px;
    margin-left: 0;
}

.thumbnailParentSpan > div {
    min-height: 600px;
}

.thumbnailParentSpan > div > div {
    padding: 0;
}

.thumbnailInnerHead {
    padding: 4px;
    height: 225px;
    overflow-y: hidden;
}

.thumbnailInnerFooter {
    text-align: left;
}

.thumbnailInnerDescription {
    min-height: 120px;
}

.thumbnailDisabled {
    opacity: 0.75;
    filter: alpha(opacity=75); /* msie */
}