/* Footer
-------------------------------------------------- */

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

/* Helper
-------------------------------------------------- */

.cstm-well-light {
    border: 2px solid #caecec;
    background-color: white;
}

.cstm-background-white {
    background-color: white;
}

.cstm-main-navbar {
    margin-bottom: 0px;
}

/* Header
-------------------------------------------------- */

.brandLogo {
    height: 30px;
    padding: 8px 12px 10px 12px;
}

.navbar .brand {
    padding: 0px;
}

.dropdown-append {
    padding-left: 0px;
}

.dropdown-append .dropdown-toggle {
    padding-left: 0px !important;
}

ul.nav li.dropdown-append:hover > ul.dropdown-menu {
    display: block;    
}